{% extends 'myapp/base.html' %}

{% block title %}
Nudes
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">Nude is succesfully send 💦</h2>
                    <div class="text-center mt-4">
                        <a href="/" class="btn btn-lg romantic-btn">❤️</a>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container text-center mt-5">
    <p>Please <a href="/login">login</a> to send nudes.</p>
</div>
{% endif %}
{% endblock %}

{% block extra_css %}
<style>
    .btn-pink {
        background-color: #f64;
        color: #fff;
    }
    .btn-pink:hover {
        background-color: #f42;
        color: #fff;
    }
    .romantic-btn {
    background-color: #99e7ff; /* Soft pink */
    color: white;
    border: none;
    }

    .romantic-btn:hover, .romantic-btn:focus {
        background-color: #ff66a3; /* A slightly deeper pink on hover/focus */
        color: white;
    }

</style>
{% endblock %}
